.searchResult {
  display: flex;
  color: var(--white);
  text-decoration: none;
}

.searchResult img {
  width: 150px;
}

.content {
  flex: 1;
  padding: 0 1rem;
}

.content h3 {
  margin-top: 0;
}
