.songMeta p {
  font-size: 0.8rem;
}

.songMeta input {
  display: block;
  width: 100%;
  background: var(--dark);
  color: var(--white);
  border-radius: 0.25rem;
  border: 0.1rem solid transparent;
  padding: 1rem 0.25rem;
}
